.normalButton {
    border-radius: 1.5rem;
    padding: 10px 15px;
    background-color: #3a86ff;
    color: beige;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
}

.deleteAndCancelButtons {
    composes: normalButton;
    background-color: #e63946;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .normalButton {
        padding: 7px 10px;
    }
}

@media screen and (max-width: 450px) {
    .normalButton {
        padding: 7px;
        font-size: 1.1rem;
        font-weight: normal;
    }
}
@media screen and (max-width: 350px) {
    .normalButton {
        padding: 5px;
        font-size: 1rem;
    }
}